

{% assign guide = site.meta.guide %}
{% assign guide_entry_point = site.baseurl | append: '/guide/' %}


{% assign url_parts = page.url | split: '/' %}


{% if page.url contains 'guide'%}
  {% assign active_section = site.meta['guide'] %}
{% elsif page.url contains 'toolkits'%}
  {% assign active_section = site.meta['toolkit'] %}
{% endif %}




<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>

    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    <li {% if page.url contains 'guide' %}class="Selected"{% endif %}>
      <a href="{{ guide_entry_point }}">{{ guide.title }}</a>

      <ul>

        <!-- start navigation for guide section -->
        {% for chapter in guide.toc.chapters %}
        {% assign chapter_url = site.baseurl | append:  '/guide/' | append: chapter.slug | append: '/' %}
        <li {% if page.url == chapter_url %}class="Selected"{% endif %}>
          <a href="{{ chapter_url }}">{{ chapter.title }}</a>
        </li>
        {% endfor %}
    </ul>



    <li {% if url_parts contains 'projects' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/projects/">Volunteer Projects</a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/toolkits/">Toolkits</a>
      <ul>
        <li {% if url_last == 'toolkits' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/toolkits/">Toolkits</a>
        </li>
        <li {% if url_last == 'digital-literacy' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/toolkits/digital-literacy/">Digital Literacy</a>
        </li>
        <li {% if url_last == 'design-thinking' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/toolkits/design-thinking/">Design Thinking</a>
        </li>
      </ul>
    </li>
    
    <li {% if url_last ==  'community' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/community/">Community</a>
          <ul>
      <li {% if url_last ==  'ict4d-committee-charter' %}class="Selected"{% endif %}>
        <a href="{{ site.baseurl }}/resources/ict4d-committee-charter/">ICT4D Committee Charter</a>
      </li>
    </ul>
    </li>

</nav>
